<h1>Rasekon autot</h1>

<h2>Ajoneuvojen tiedot järjestämättömänä listana</h2>
<ul>
  {{#each vehicleList}}
    <li>{{merkki}} {{malli}} {{status}}</li>
  {{/each}}
</ul>

<h2>Samat tiedot taulukkona</h2>
<table>
    <tr>
        <th>Merkki</th>
        <th>Malli</th>
        <th>Status</th>
    </tr>
    {{#each vehicleList}}
    <tr>
        <td>{{merkki}}</td>
        <td>{{malli}}</td>
        <td>{{status}}</td>
    </tr>
    {{/each}}
</table>
