<body>
    <div class="card-group">
        {{#each vehicleList}}
        <div class="card"><img class="vehicle-image" width="577" height="433" src="/images/{{rekisterinumero}}.png" />
            <div class="card-body">
                <h4 class="card-title">{{rekisterinumero}}</h4>
                <p class="card-text">{{merkki}} {{malli}}<br />henkilömäärä {{henkilomaara}}<br />automaatti {{automaatti}} <br>{{status}}</p><button class="btn btn-primary" type="button" style="background: var(--bs-danger);">Näytä</button>
            </div>
        </div>
        {{/each}}
    </div>
</body>
